*{
	font: italic bold 16px cursive;
}


input[type="file"] {
    display: none;
}
.custom-file-upload {
	color: deepskyblue;
	display: inline-block;

	border: 2px solid pink;
    border-radius: 10px;

    padding: 10px;
	margin: 10px auto;
}
.custom-file-upload:hover {
    border: 2px solid deepskyblue;
}


textarea {
	font: bold 16px cursive;
	color: deepskyblue;
	height: 300px;
	width: 300px;

	border: 2px solid pink;
	border-radius: 10px;

  padding: 10px;
	margin: 10px auto;
}




tone-play-toggle{
	height: 60px;
	width: 60px;

	margin: 6px auto;
}
